.idea/
.vscode/
*.iml

__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/
*.db
*.sqlite
*.sqlite3

.conda/
.env
venv/
env/

target/
*.class
python-debugger/build/
python-debugger/dist/

logs/
*.log

python-debugger/data/
ui_current.png
