.idea/
.vscode/
*.iml

__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/
*.db
*.sqlite
*.sqlite3

.conda/
.env
venv/
env/

target/
*.class

logs/
*.log
ui_current.png

python-debugger/data/
